# --- ignore hidden files/ directories except gitignore --- #
.*
!/.gitignore

# --- documentation --- #
doc

# --- image processing module --- #
ip/Images
ip/OpenCV
ip/x64
*.vcxproj
*.user
ip/CameraTest
ip/Cells
ip/CellsDemo
ip/Images2
ip/persistence/test/*
ip/persistence/train/*

# --- validation and response module --- #
var/Debug
var/packages
var/test/Debug
var/test/x64
*.config
var/x64
*.sln
*.filters

# --- user application module --- #
ua/*.jpeg
ua/*.gif
ua/resource.h
*.aps
*.qrc
*.rc
ua/preview
ua/x64